/*1080p desktop form factor (Desktop first design)*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  font-family: serif;
}
body{
  background-color: rgb(26, 26, 26);
  color: rgb(190, 190, 190);
}
a{
  text-decoration: none;
  color: rgb(190, 190, 190);
}

/*Body*/
.container{
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 35vh;
  padding-left: 2vw;
  padding-right: 2vw; 
  padding-bottom: 15vh;
}
.page-name {
text-align: center;
margin-bottom: 5vh;
font-size: 200%;
color: rgb(105, 105, 105);
}
.grid article{
  border-radius: 5%;
  background-color: #686658;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  transition: 0.4s;
}


.home-pic{
  width: 50%;
  margin: auto;
}
.home-pic img{
 opacity: 0.7;
}
.home{
  text-align: center;
}

.container h4,h3, h2, p{
  margin-top: 2%;
  margin-bottom: 2%;
}

.container figure{
  margin-top: 2%;
  margin-bottom: 2%;
}
.grid header{
  padding: 3%;
}

.grid img:hover{
  transition: 0.2s;
}

.grid img:hover{
  opacity: 0.7;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  grid-auto-rows: minmax(20vh,auto);
}

.selector{
  margin: auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7%;
}
.hide{
  display: none;
}
.selector button{
  color: rgb(190, 190, 190);
  background: none;
  border-style: solid;
  border-color: rgb(190, 190, 190);
  min-width: 40%;
  min-height: 200%;
  font-size: 110%;
  margin-right: 5%;
  margin-left: 5%;
}

.selector .selected{
  background: rgb(190, 190, 190);
  border-style: solid;
  border-color: rgb(74, 160, 134);
  color: rgb(0, 0, 0);
}

#map{
  height: 70vh;
  width: 100%;

  grid-column-start: 1;
  grid-column-end: 4;
}
/*Buttons*/
button{
  
  border: none;
  padding: 0.5vh 0.75vw;
  margin: auto;
  margin-bottom: 2%;
  transition: 0.2s;
  border-radius: 10px;
}
article button{
  margin-top: 5%;
  margin-bottom: 10%;
  background-color: rgb(74, 160, 134);
}
button a{
  width: 100%;
  font-size: 190%;
  text-decoration: none;
  color: rgb(0, 0, 0);

}
button:hover{
  background-color: rgb(187, 187, 187);
  color: rgb(0, 0, 0);
}

/*images*/
.image-holder{
  position: relative;
}

.image-holder img{
  display: block;
}

.caption{
  z-index: 2;
  color: rgb(223, 223, 223);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
}
.mainfooter{
  margin-top: 5vh;
}

.image-holder:hover .caption{
  opacity: 1;
  transition: 0.3s;
}


/*Header*/
nav{
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("/WSOA3028A_1839434/Source/Images/banner.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 100%;
  background-position: center;
  min-height: 30vh;
  width: 100%;
  justify-content: space-around;
  transition: 0.8s;
}

.main header{
  min-height: 30vh;
  transition: 0.8s;
 
}
.main header.sticky{
  min-height: 7vh;
}

.sticky nav{
  display: inline-flex;
  background-color: black;
  min-height: 7vh;
 
  
}

#dropdown{
  display: none;
  width: 50px;
  height: 50px;
}

nav h1 {
  display: inline-block;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 1.4vw;
  transition: 0.8s;
}

.sticky nav h1 {
  font-size: 150%;
  letter-spacing: 0.13vw;
}

nav p{
  /* display: inline; */
  font-weight: 600;
  opacity: 1;
  color: rgb(74, 160, 134);
}


nav ul{
  display: inline-flex;
  list-style-type: none;
}


nav li{
  margin-right: 5%;
}

nav a{
  text-decoration: none;
  color: rgb(223, 223, 223);
}

nav a:hover{
  color: rgb(99, 219, 183);
}

/*around tablet form factor */
@media screen and (max-width: 992px){
  .caption{
    position: relative;
    opacity: 1;
  }
  .container{
    margin-top: 25vh;
    margin-bottom: 25vh;
  }
  nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 20vh
  }
  .sticky nav{
    min-height: 20vh
  }

  nav h1{
    font-size: 260%;
  }

  .sticky nav h1{
    font-size: 260%;
  }

  nav ul{
    width:100%;
    justify-content: center;
  }
  nav p{
    text-align: center;
  }

  nav li a{
    font-size: 120%;
  }

  .grid{
    grid-template-columns: 1fr 1fr;
  }
}
/*mobile form factor*/
@media screen and (max-width: 768px){
  .caption{
    position: relative;
    opacity: 1;
  }
  .container{
    margin-top: 20vh;
    margin-bottom: 120vh;
  }

  .grid{
    grid-template-columns: 1fr;
  }

  #dropdown{
    display:inline-flex;
    background-image: url(../Images/dropdown.png);
    background-position: center;
    background-size: 100%;
    text-indent: -9990px;
  }
  .NameSection {
    text-align: center;
  }

  nav{
    display: flex;
    flex-direction: column;
    min-height: 10vh
  }

  nav ul{
    display: none;
  }
  nav ul a{
    font-size: 120%;
  }
  nav ul.showNav{
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
  nav ul li{
    text-align: center;
    /* margin: auto; */
  }

}

