*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
  font-family: serif;
}
body{
  background-color: rgb(26, 26, 26);
  color: rgb(190, 190, 190);
}
a{
  text-decoration: none;
}
/*Body*/
.container{
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 35vh;
  padding-left: 2vw;
  padding-right: 2vw; 
  padding-bottom: 15vh;
}
.grid article{
  background-color: #686658;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
 
  transition: 0.4s;
}

.grid header{
  padding: 3%;
}

.grid img:hover{
  transition: 0.2s;
}

.grid img:hover{
  opacity: 0.7;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2%;
  grid-auto-rows: minmax(20vh,auto);
}
/*Buttons*/
button{
  background-color: rgb(74, 160, 134);
  border: none;
  padding: 0.5vh 0.75vw;
  margin-top: 5%;
  margin-bottom: 5%;
  transition: 0.2s;
}
button a{
  font-size: 150%;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
button:hover{
  background-color: rgb(190, 190, 190);
}

/*images*/
.image-holder{
  position: relative;
}

.image-holder img{
  display: block;
}

.caption{
  z-index: 2;
  color: rgb(223, 223, 223);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.3s;
}
.mainfooter{
  margin-top: 5vh;
}

.image-holder:hover .caption{
  opacity: 1;
  transition: 0.3s;
}


/*Header*/
nav{
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url("/WSOA3028A_1839434/Source/Images/banner.jpg");
  background-color: rgba(0, 0, 0, 0.7);
  background-size: 100%;
  background-position: center;
  min-height: 30vh;
  width: 100%;
  justify-content: space-around;
  transition: 0.8s;
}

.main header{
  min-height: 30vh;
  transition: 0.8s;
 
}
.main header.sticky{
  min-height: 7vh;
}

.sticky nav{

  display: inline-flex;
  align-items: center;
  background-color: black;
  min-height: 7vh;
  justify-content: space-around;
  
}

nav div{
  
}

#dropdown{
  display: none;
  width: 50px;
  height: 50px;
}

nav h1 {
  display: inline-block;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 1.4vw;
  transition: 0.8s;
}

.sticky nav h1 {
  font-size: 150%;
  letter-spacing: 0.13vw;
}

nav p{
  /* display: inline; */
  font-weight: 600;
  opacity: 1;
  color: rgb(74, 160, 134);
}


nav ul{
  display: inline-flex;
  list-style-type: none;
}


nav li{
  margin-right: 5%;
}

nav a{
  text-decoration: none;
  color: rgb(223, 223, 223);
}

nav a:hover{
  color: rgb(99, 219, 183);
}

@media screen and (max-width: 768px){


  .container{
    margin-top: 15vh;
    margin-bottom: 10vh;
  }

  .grid{
    grid-template-columns: 1fr;
  }

  #dropdown{
    display:inline-flex;
    background-image: url(../Images/dropdown.png);
    background-position: center;
    background-size: 100%;
    text-indent: -9990px;
  }
  .NameSection {
    text-align: center;
  }


  nav{
    display: flex;
    flex-direction: column;
    min-height: 10vh
  }

  nav p{
    text-align: center;
  }
  nav ul{
    display: none;
  }
  nav ul a{
    font-size: 120%;
  }
  nav ul.showNav{
    opacity: 1;
    display: flex;
    flex-direction: column;
  }
  nav ul li{
    text-align: center;
    /* margin: auto; */
  }

}